@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>Orders</h4>
<hr/>
<table class="table">
    <tr>
        <th>Order Id</th>
        <th>Title</th>
    </tr>
    @foreach (Pixlpark.Models.Order item in Model.Orders) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>
                <a asp-page="./OrderDetails" asp-route-id="@item.Id">Show Details</a>
            </td>
        </tr>
    }
</table>

